/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

body{
    font-family: "museo-sans-rounded", Sans-Serif;
    background: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
    font-family: "jaf-facitweb", "Sans-Serif";
}

main-page-title {
	color: #100457;
}
